.addUser {
    width: 400px;
    padding: 20px;
    background-color: gray;
    border-radius: 10px;
    position: fixed; /* Changed to fixed to center properly */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.form {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
}

.user {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .detail {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    button {
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #50E3C2;
        color: white;
        border: none;
        cursor: pointer;
        margin-left: auto;
        width: auto;
    }
}
