.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../background.jpg');
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    padding: 0 20px;
    position: relative;
}

.home-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #4A90E2;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-title i {
    color: #50E3C2;
}

.button-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.home-btn {
    padding: 15px 30px;
    font-size: 1.1rem;
    background-color: #50E3C2;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.home-btn:hover {
    background-color: #50E3C2;
    transform: scale(1.05);
}

p {
    margin-top: 10px;
    color: #333;
    text-align: center;
}

h1 span {
    position: relative;
    opacity: 0;
    animation: fade-in-text 0.75s forwards ease;
}

@keyframes fade-in-text {
    0% { transform: translateY(0.8em); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.icon-container {
    margin-left: 10px;
    font-size: 2rem;
    color: #50E3C2;
    opacity: 0;
    animation: fade-in-icon 1s forwards ease;
    animation-delay: 0.5s;
}

@keyframes fade-in-icon {
    0% { transform: translateY(0.8em); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
