.navbar-container {
    font-family: "Montserrat", sans-serif;
    width: 200px;
    height: 100vh;
    background: #F5F7FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-items {
    margin-top: 5%;
}

.navbar-link {
    padding: 15px;
    color: #54656f;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    list-style-type: none;
}

.profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#courriel{
    color: #50E3C2; 
}

.logout-container {
    margin-top: auto;
    padding: 20px;
    text-align: center;
}

.logout-button {
    width: 100%;
    padding: 10px;
    background-color: #607374;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #607374;
}

.navbar-profile {
    text-align: center;
    cursor: pointer;
    position: relative;
}

.navbar-dropdown {
    position: absolute;
    top: 60px;
    left: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-item {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    display: block;
}

.navbar-item:hover {
    background-color: #f0f0f0;
}

.navbar-divider {
    margin: 0;
    border: 0;
    height: 1px;
    background-color: #ddd;
}
