.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #6cffe9, #4A90E2);
  background-image: url('../background.jpg');
  background-size: cover;
}

.login-box {
  width: 450px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 1;
}

#title {
  color: #4a90e2;
  font-size: 1.8rem;
  text-align: center;
  font-weight: lighter;
}

#labels {
  color: #333;
}

.label, .forgot-password-link {
  font-size: 0.875rem;
  color: #4a90e2;
}

.input {
  font-size: 0.875rem;
}

#btnConnexion {
  background-color: #50E3C2;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btnConnexion:hover {
  background-color: #50E3C2;
}

.has-text-danger {
  font-size: 0.875rem;
  color: red;
}

.register-link {
  font-size: 0.875rem;
  color: #50e3c2;
}

/* Social login buttons */
.social-login {
  margin-top: 1.5rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.google-button {
  background-color: #607374;
  color: white;
}

.google-button:hover {
  background-color: #607374;
}

.facebook-button {
  background-color: #1877f2;
  color: white !important;
}

.facebook-button:hover {
  background-color: #3b86e7;
}

.social-button i {
  margin-right: 8px;
  font-size: 1rem;
}

.or-text {
  font-size: 0.875rem;
  color: #555;
  padding: 0 8px;
  white-space: nowrap;
}

.remember-me {
  width: 70%
}
