body, html {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif; 
    background-image: url('../background.jpg');
    background-size: cover;
}

.auth-container {
    width: 350px; 
    padding: 30px; 
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333; 
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.error {
    color: red;
    text-align: center;
}

.forgot-password-link, .register-link {
    font-size: 0.875rem;
    color: #4A90E2; 
}

h1 {
    text-align: center;
    color: #4A90E2; 
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #50E3C2; 
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.875rem; 
}

.signup-button:hover {
    background-color: #50E3C2; 
}
