body, html {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif; 
    background: #2eb872; 
}

.auth-container {
    width: 350px; 
    padding: 20px;
    background-color: #feffea; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(102, 102, 107, 0.5); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #606060; 
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.error {
    color: red;
    text-align: center;
}

.forgot-password-link, .register-link {
    font-size: 0.875rem;
    color: #2eb872; /* Third color for consistency */
}

h1 {
    text-align: center;
    color: #8c8c8c; 
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #ff5d6e; 
    color: #feffea; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.875rem; 
}

.signup-button:hover {
    background-color: #fd7482; 
}
