.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-box {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.password-toggle {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
}

.remember-me {
  justify-content: center;
  margin-bottom: 15px;
}

.social-login .is-google {
  background-color: #db4437; /* Couleur rouge de Google */
  color: white;
  border: none;
  margin-bottom: 10px;
}

.social-login .is-google:hover {
  background-color: #c23321; /* Couleur plus foncée au survol */
}

.social-login .is-facebook {
  background-color: #4267B2; /* Couleur bleue de Facebook */
  color: white;
  border: none;
}

.social-login .is-facebook:hover {
  background-color: #365899; /* Couleur plus foncée au survol */
}

.forgot-password-link,
.register-link {
  text-align: center;
  margin: 10px 0;
}

.cancel-btn {
  margin-top: 10px;
}
