.chat {
    flex: 2;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;

    .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 3px;

            span {
                font-size: 19px;
                font-weight: bold;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                color: gray;
            }
        }
    }

    .icons {
        display: flex;
        gap: 20px;

        i {
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.center {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
        max-width: 70%;
        display: flex;
        gap: 10px;
        align-self: flex-start;

        &.owner {
            align-self: flex-end;

            .texts p {
                background-color: #65b2ff;
                color: white;
                border-radius: 20px 20px 0 20px; /* look d'un chat bubble */
                padding: 10px 15px;
                position: relative;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                object-fit: cover;
            }

            p {
                background-color: blueviolet;
                color: white;
                border-radius: 20px 20px 0 20px; /* Rounded corners for incoming messages */
                padding: 10px 15px;
                position: relative;
                /* Optional: Add a slight shadow */
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }

            span {
                font-size: 13px;
            }
        }
    }
}

.bottom {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    gap: 10px;
    margin-top: auto;

    .icons {
        display: flex;
        gap: 10px;
        align-items: center;

        i {
            font-size: 24px;
            cursor: pointer;
        }
    }

    input {
        flex: 1;
        padding: 8px;
        background-color: whitesmoke;
        border: none;
        outline: none;
        color: white;
        border-radius: 8px;
        font-size: 14px;
    }

    .emoji {
        position: relative;

        i {
            font-size: 24px;
            cursor: pointer;
        }

        .picker {
            position: absolute;
            bottom: 40px;
            right: 0;
            z-index: 1000;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .sendButton {
        padding: 8px 12px;
        background-color: #1e90ff;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        flex-shrink: 0;
        width: auto;
        white-space: nowrap;
    }
}

.hoverBox {
    position: absolute;
    background: #607374;
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}
